[Unit]
Description=GoatCounter Analytics - stats.jakegoldsborough.com
After=network.target

[Service]
Type=simple
User=goatcounter
Group=goatcounter
WorkingDirectory=/var/lib/goatcounter-jg
ExecStart=/usr/local/bin/goatcounter serve -listen localhost:8081 -tls none -db sqlite+/var/lib/goatcounter-jg/goatcounter.db
Restart=always
Environment=HOME=/var/lib/goatcounter-jg

[Install]
WantedBy=multi-user.target
