{
	email lets-encrypt@pancakes.email
}

code.jakegoldsborough.com {
	reverse_proxy localhost:3000
	encode gzip
}

ci.jakegoldsborough.com {
	reverse_proxy localhost:8000
	encode gzip
}

stats.jakegoldsborough.com {
	reverse_proxy localhost:8081
	encode gzip
}

stats.date-ver.com {
	reverse_proxy localhost:8082
	encode gzip
}
