{
	email lets-encrypt@pancakes.email
}

code.jakegoldsborough.com {
	reverse_proxy localhost:3000
	encode gzip
}

ci.jakegoldsborough.com {
	reverse_proxy localhost:8000
	encode gzip
}

stats.jakegoldsborough.com {
	reverse_proxy localhost:8081
	encode gzip
}

stats.date-ver.com {
	reverse_proxy localhost:8082
	encode gzip
}

stats.gnarlyvoid.com {
	reverse_proxy localhost:8083
	encode gzip
}

scrob.jakegoldsborough.com {
	reverse_proxy localhost:3002
	encode gzip
}

ui.scrob.jakegoldsborough.com {
	root * /var/www/scrob-ui
	file_server
	try_files {path} /index.html
	encode gzip
}
